body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2 , 15% 70%);
    column-gap: 3rem;
}
img{
    width: 65px;
    height: 65px;
}
input {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(30,30,30 , .5);
    border-radius: 0.600rem;
    outline: none;
    background-color: transparent;
}
canvas {
    border: 1px solid rgb(30,30,30 , .5);
    margin-top: 10px;
    overflow: scroll;
}
.getF{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
}
@media screen and (max-width: 1068px) {
    body{
        grid-template-columns: repeat(1 , 100%);
    }
    .getF{
        max-width: 500px;
    }
}